.container {
    height: 100vh;
    @apply text-white
}
.form-container h1 {
    @apply text-4xl font-bold;
}

.form-container p {
    @apply text-gray-400 ;
    a {
        @apply text-indigo-700 border-b-2 border-indigo-700 pb-0;
    }
    padding-top: 1em;
}

.form-container .social-icons {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    p {
        display: flex;
        position: relative;
        bottom: 7px;
    }
}

.form-container .social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    width: 40px;
    height: 40px;
}

.form-container input {
    display: flex;
    flex-direction: column;
    background-color: #0B0F19;
    border: 2px solid gray;
    border-radius: 7px;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    text-align: center;
    height: 50px;
    width: 525px;
}

.form-check {
    display: flex;
    border: 1px solid gray;
    border-radius: 5px;
    width: 10em;
    label {
        @apply font-bold;
        position: relative;
        top: 5px;
        left: 20px;
    }
    input {
        height: 17px;
        width: 17px;
        position: relative;
        left: 5px;

    }

}

.cool-btn {
    display: flex;
    flex-direction: column;
    background-color: #272B5E;
    border: none;
    border-radius: 7px;
    margin: 40px 0;
    padding: 10px 15px;
    justify-content: center;
    @apply font-bold;
    text-align: center;
    height: 50px;
    width: 525px;

}

.container hr {
    position: relative;
    bottom: 150px;
    left: 110px;
    border-radius: 10px;
    width: 525px;
    border: none;
    background-color: #2D3139;
}

.help-parag {
    position: relative;
    bottom: 140px;
    left: 110px;
    border-radius: 10px;
}

.whatsapp-btn {
    position: relative;
    bottom: 160px;
    left: 110px;
    border-radius: 10px;
}

.form-container {
    background-color: #0B0F19;
    display: flex;
    flex-direction: column;
    border-radius: 0 30px 30px 0;
    padding-left: 7em;
    padding-top: 5em;
    height: 100%;
    width: 50%;
}
